/* Google Fonts Imports*/
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* --- Global Style--- */
body {
  background-color: black;
  color: #d3baaf;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-image: url("../../assets/images/space-illus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

/* --- header, h1 styling--- */
header {
  height: 3rem;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 30px;
  color: #a8234c;
  letter-spacing: 3px;
}

main {
  margin-top: 6rem;
}

#time {
  color: #d3baaf;
  font-size: 1.5em;
  padding-left: 1.5rem;
}

#start {
  width: 5.5rem;
  background-color: #c49c26;
  border-radius: 0.5rem;
  border: none;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
  letter-spacing: 3px;
  border: 2px solid #a8234c;
  margin-top: 1rem;
}

.score-log {
  margin-top: 0.5rem;
  font-size: 1rem;
}

  #highScore {
    padding-left: 0.5em;
    color: #a8234c;
  }
  
p {
  letter-spacing: 2px;
  color: #d3baaf;
}

/* ---Game board panel containing cards--- */
.game-board {
  background: #c49c26;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1em;
}

/* ---container holding 20 cards--- */
.container {
  max-width: 1200px;
  margin: 10px;
  padding: 1em;
  border: 2px solid #a8234c;
}

.flipped i {
  visibility: hidden;
}

#back-panel {
  background-color: rgba(0, 0, 0, 0.6);
}

.col {
  padding: 1.5rem 0;
  background-color: #2a778a;
  flex: 1;
  border-radius: 1em;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.card {
  width: 300px;
  height: 100px;
  perspective: 500px;
  border: solid 2px #000000;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-back img {
  width: 2.5rem;
  padding-top: 0.4em;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back side when facing away */
}

/* Card front is displayed by default */
.card-back {
  transform: rotateY(180deg);
}

/* When the card has the "flipped" class, flip the inner container */
.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid,
.fa-puzzle-piece {
  color: #d3baaf;
  display: flex;
  align-items: center;
}

/* Score Area */
.point-log,
.points {
  margin-top: 2em;
  letter-spacing: 1px;
}

#score {
  font-size: 2rem;
  color: #2a778a;
}

/* ---Shuffle Button--- */
.btn {
  background-color: #c49c26;
  border: 0.1em solid #a8234c;
  padding: 2.5px;
  margin: 2rem;
  border-radius: 0.5rem;
  color: #000000;
  font-size: 1.5em;
  font-family: "Permanent Marker", cursive;
  font-weight: 0;
  letter-spacing: 0.3em;
}

footer {
  margin-bottom: 1rem;
  padding: 1rem;
}

#back-panel {
}

/* Media Queries - responsive design */

@media (min-width: 320px) and (max-width: 576px) {
  .card-front {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .score-log {
    font-size: 1.2rem;
  }

  .point-log {
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  .score-log {
    display: flex;
    align-items: left;
    margin-left: 1rem;
    font-size: 1.6rem;
  }

  .card {
    height: 10em;
  }

  .card-front {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-puzzle-piece {
    font-size: 2rem;
  }


  #start {
    font-size: 2em;
    width: 4em;
  }

  #time {
    font-size: 2em;
    letter-spacing: 2px;
  }

  .btn {
    font-size: 2em;
  }
}

@media (min-width: 992px) {
  .game-board {
    display: inline-grid;
  }

  .fa-puzzle-piece {
    font-size: 2rem;
  }

  main {
    margin-top: 3.5em;
  }

  p {
    font-size: 1.7em;
  }

  header {
    letter-spacing: 7px;
    font-size: 2.5em;
  }

  #start {
    font-size: 1.7em;
    padding: 5px;
    width: 6em;
  }

  .card {
    width: 9rem;
  }

  .card-front {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .score-log {
    display: flex;
    margin-left: 5em;
    font-size: 1.5em;

  }

  
}

@media (min-width: 1200px) {
  .card-front {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .score-log {
    margin-left: 9.5em;

  }

}
